<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Services</h2>
                    </div>
                    <div class="breatcome_content">
                        <!-- <ul>
                            <li><a href="index.html">Home</a> <i class="fa fa-angle-right"></i> <a href="#"> Pages</a> <i class="fa fa-angle-right"></i> <span>Service Two</span></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_area bg_color2 pt-85 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-55">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>SERVICES</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Service We Provide</h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm tempor incididunt ut labore et dolore magna aliqua. Ut enim advis minim veniam, quis nostrud exercitat</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_one text_center pt-40 pb-40 pl-3 pr-3 mb-4">
                    <div class="service_style_one_icon mb-30">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="service_style_one_title mb-30">
                        <h4>Développement</h4>
                    </div>
                    <div class="service_style_one_text">
                        <p>Etude Conceptuelle et Développement
                            Logiciels évolutifs et faciles d’utilisation
                            Pour Digitaliser vos processus métiers
                            Et répondre à vos besoins opérationnels
                            En conformité avec votre stratégie
                            Vous mettre au diapason du monde NTIC.</p>
                    </div>
                    <div class="service_style_one_button pt-3">
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_one text_center pt-40 pb-40 pl-3 pr-3 mb-4">
                    <div class="service_style_one_icon mb-30">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="service_style_one_title mb-30">
                        <h4>BI-Business Intelligence</h4>
                    </div>
                    <div class="service_style_one_text">
                        <p>Système d’Aide à la Prise de Décisions.
                            Se Connecter à vos données d’activités.
                            Traiter et Analyser vos données.
                            Extraire des informations pertinentes
                            Sous forme de tableaux de bords.
                            Vous aider à Prendre de bonnes décisions</p>
                    </div>
                    <div class="service_style_one_button pt-3">
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_one text_center pt-40 pb-40 pl-3 pr-3 mb-4">
                    <div class="service_style_one_icon mb-30">
                        <i class="fa-brands fa-cc-visa"></i>
                    </div>
                    <div class="service_style_one_title mb-30">
                        <h4>Paiement electronique</h4>
                    </div>
                    <div class="service_style_one_text">
                        <p>Mobile Money, Visa MasterCard, …
                            Monétiser vos sites web et e-commerce
                            En y intégrant des moyens de paiement.
                            Règlement et paiement par internet
                            par carte bancaire VISA/MasterCard
                            ou par un compte Mobile Money</p>
                    </div>
                    <div class="service_style_one_button pt-3">
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_one text_center pt-40 pb-40 pl-3 pr-3 mb-4">
                    <div class="service_style_one_icon mb-30">
                        <i class="fa fa-fingerprint"></i>
                    </div>
                    <div class="service_style_one_title mb-30">
                        <h4>Intégration BIOMETRIE</h4>
                    </div>
                    <div class="service_style_one_text">
                        <p>Intégration Empreintes digitales et 
                            Intégration Reconnaissance faciale.
                            Intégrer des technologies innovantes
                            Pour une authentification forte.
                            Répondre aux exigences de sécurité
                            liées à votre secteur d’activités</p>
                    </div>
                    <div class="service_style_one_button pt-3">
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_one text_center pt-40 pb-40 pl-3 pr-3 mb-4">
                    <div class="service_style_one_icon mb-30">
                        <i class="fa fa-id-badge"></i>
                    </div>
                    <div class="service_style_one_title mb-30">
                        <h4>Monétique et Carte à puce</h4>
                    </div>
                    <div class="service_style_one_text">
                        <p>Terminaux de paiement fixes et mobiles
                            Déploiement de terminaux de paiement
                            Maintenance de terminaux de paiement
                            Carte à puce: accès, pointage, paiement
                            Personnalisation carte : design, encodage
                            Maîtrise des technologies NFC et RFID</p>
                    </div>
                    <div class="service_style_one_button pt-3">
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_one text_center pt-40 pb-40 pl-3 pr-3 mb-4">
                    <div class="service_style_one_icon mb-30">
                        <i class="fa fa-person-chalkboard"></i>
                    </div>
                    <div class="service_style_one_title mb-30">
                        <h4>Formation</h4>
                    </div>
                    <div class="service_style_one_text">
                        <p>Développement Applis Web et Mobile.
                            Partager, transmettre notre savoir-faire
                            Des formations liant théorie et pratique
                            Pour vous rendre très vite opérationnel.
                            Maîtrise des Technologies Web
                            Et des Technologies Mobiles</p>
                    </div>
                    <div class="service_style_one_button pt-3">
                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>