<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>DEMONSTRATION GRATUITE</h2>
                    </div>
                    <div class="breatcome_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_contact_area style_three pt-80 pb-90">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section_title text_left mb-50 mt-3">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>Contact Info</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Get in Touch</h1>
                    </div>
                    <div class="section_title_text pt-2">
                        <p>Lorem ipsum dolor sit amet cotetur adipi sicing elit, sed do mod tempor incid idunt ut
                            labore etdolore emu some the and one baldbe dear sod ales justo sit amet urna auctor
                            scele risqu.</p>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                </div>
                <div class="contact_address">
                    <div class="contact_address_company mb-3">
                        <ul>
                            <li><i class="fa fa-address-book"></i><span>Gestion des Proprietaires</span></li>
                            <li><i class="fa fa-group"></i><span>Gestion des Locataires</span></li>
                            <li><i class="fa fa-calendar-check-o"></i> <span>Appel des Loyers & Export</span></li>
                            <li><i class="fa fa-money"></i> <span>Encaissement Loyer, Charge et Relance</span></li>
                            <li><i class="fa fa-cogs"></i> <span>Gestion des dépenses et Travaux</span></li>
                            <li><i class="fa fa-bar-chart"></i> <span>Point des Loyers et Decompte</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact_from">
                    <div class="contact_from_box">
                        <div class="contact_title pb-4">
                            <h3>Send Message </h3>
                            <div class="row">
                                <!-- <div class="col-lg-6 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Nom *</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="">
                                </div> -->
                                <!-- <div class="col-lg-6 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Prenoms *</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="">
                                </div> -->
                                <div class="col-lg-6 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Nom de L'entreprise
                                        *</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="">
                                </div>
                                <div class="col-lg-6 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Secteur
                                        d'activité</label>
                                    <select class="form-control form-select-lg" aria-label="Default select example">
                                        <option selected>Selectionner</option>
                                        <option value="1">Agencement / Decoration</option>
                                        <option value="2">Architecture</option>
                                        <option value="3">Bureau d'etude</option>
                                        <option value="3">Informatique</option>
                                        <option value="3">Ingeneurie</option>
                                        <option value="3">Hotellerie</option>
                                        <option value="3">Autres</option>
                                    </select>

                                </div>
                                <div class="col-lg-6 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Date de RDV
                                        *</label>
                                    <input type="email" class="form-control datepicker" id="exampleFormControlInput1"
                                        placeholder="">
                                </div>
                                <div class="col-lg-6 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Taille de
                                        l'entreprise
                                        *</label>
                                    <select class="form-control form-select-lg" aria-label="Default select example">
                                        <option selected>Selectionner</option>
                                        <option value="1">0 - 9</option>
                                        <option value="2">10 - 24</option>
                                        <option value="3">24 - 49</option>
                                        <option value="4">50 - 199</option>
                                        <option value="5">200 - 499</option>
                                        <option value="6">500 - 999</option>
                                        <option value="7">1000+</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Adresse Email</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="">
                                </div>
                                <div class="col-lg-12 mt-10">
                                    <label for="exampleFormControlInput1" class="form-label t">Contact</label>
                                    <input type="tel" class="form-control tel" id="exampleFormControlInput1"
                                        placeholder="">
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_box mb-30">
                                    <label for="exampleFormControlTextarea1" class="form-label t">
                                        Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Saisir le message..."
                                        rows="3"></textarea>
                                    </div>
                                        <div class="quote_btn">
                                            <button class="btn" type="submit">Envoyer</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>