<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>CHRONOCASH</h2>
                    </div>
                    <div class="breatcome_content">
                        <h2 style="color: #fff;">pour les MicroFinances et Institutions financières</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_area bg_color2 pt-10 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-50 mt-3">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>Solutions</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>TRANSFERT D’ARGENT PAR <span> CARTE PREPAYEE</span></h1>
                    </div>
                    <div class="container mt-20 mb-20">
                        <a href="cotation.html" class="btn btn-primary mr-10">DEMO GRATUITE</a>
                        <a href="#" class="btn btn-info mr-10">ESSAI GRATUIT</a>
                        <a href="#" class="btn btn-success">DEMANDER COTATION</a>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Pourquoi une solution dédiée ? </h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Agents et sous agents pour les grands noms du transfert d’argent
                            perdent en moyenne 30% de leurs revenus dus aux failles de sécurité et de
                            comportements non professionnels du personnel.
                            68% du temps de travail hebdomadaire consacrés à la gestion des fraudes, etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Dédiée aux Microfinances</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>La solution de transfert d’argent par carte prépayée est dédiée
                            aux Institutions Financières qui recherchent une réponse
                            fonctionnelle adaptée à leur métier, et à leur organisation.
                            C'est un outil, un produit innovant et performant de conquête commerciale.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-clipboard-question"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Comment ça marche ?</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Le client désireux d’envoyer de l’argent à quelqu’un achète une carte prépayée avec une
                            valeur faciale de 1000, 2000, 5000, 100 000, etc.
                            Il gratte la carte et transfert par sms ou WhatsApp le code de transfert au bénéficiaire
                            qui retire l’argent dans une agence.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-calculator"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Traitement de base</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>
                            Traitement des ventes de cartes prépayées et paiement des mandats dans
                            les agences.
                            Edition des états de compensation de toutes les caisses, agences.
                            Edition des états déclaratifs (calcul implicite de la TPS, TOB).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-sliders"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Gestion opérationnelle</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Vente cartes prépayées (valeur faciale) dans une agence
                            et paiement de la valeur dans une autre.
                            Compensation en temps réel : chaque agence, direction régionale tirent sa situation financière.
                            La direction générale édite la situation du réseau</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Reportings, Statistiques et Alertes</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p> Disposer d’outils d’alerte de détection des anomalies financières.
                            Optimiser vos efforts pour une efficacité comptable et
                            financière.
                            Tableau de bords avec indicateurs personnalisés.
                            Edition des états (Ventes, Paiements, Statistiques)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>