<!-- Loder Start-->
<!-- <div class="loader-wrapper">
    <div class="loader"></div>
    <div class="loder-section left-section"></div>
    <div class="loder-section right-section"></div>
</div> -->
<!-- Loder End -->
<!--==================================================-->
<!-- Start	Techno Header Top Menu Area Css -->
<!--==================================================-->
<div class="header_top_menu pt-2 pb-2 bg_color">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="header_top_menu_address">
                    <div class="header_top_menu_address_inner">
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope"></i>contact@softingenierie.com</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i>Abidjan & Douala</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+225 07 00 89 04 78</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+237 699 45 46 24</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="header_top_menu_icon">
                    <div class="header_top_menu_icon_inner">
                        <ul>
                            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--==================================================-->
<!-- End	Techno Header Top Menu Area Css -->
<!--===================================================-->
<!--==================================================-->
<!-- Start Techno Main Menu Area -->
<!--==================================================-->
<div id="sticky-header" class="techno_nav_manu d-md-none d-lg-block d-sm-none d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo mt-4">
                    <a class="logo_img" routerLink="/" title="techno">
                        <img src="assets/images/logo0.png" alt="" />
                    </a>
                    <a class="main_sticky" routerLink="/" title="techno">
                        <img width="156px" src="assets/images/logo00.png" alt="astute" />
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="techno_menu">
                    <ul class="nav_scroll">
                        <li><a routerLink="">Accueil</a>
                        </li>
                        <li><a routerLink="societe">Société</a>

                        </li>
                        <li><a routerLink="#" [class.disabled]="true">Solutions IT</a>
                            <ul class="sub-menu">
                                <li><a routerLink="solution/locative">Gestion Locative</a></li>
                                <li><a routerLink="solution/immobiliere">Promotion Immobilière</a></li>
                                <li><a routerLink="solution/hotel">Gestion Hotelière</a></li>
                                <li><a routerLink="solution/caisse">Gestion Caisse et Suivi CA</a></li>
                                <li><a routerLink="solution/appro">Appro et Distribution</a></li>
                                <li><a routerLink="solution/vente">Vente Commerciaux Itinerants</a></li>
                                <li><a routerLink="/" [attr.disabled]="true">Gestion MicroFinances</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="solution/credit">Gestion de Credit</a></li>
                                        <li><a routerLink="solution/transfert">Transfert d'Argent par Carte Prepayée</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a routerLink="solution/assurance"> Assurance Maladie</a></li>
                                <!-- <li><a routerLink="#" [class.disabled]="true"> Gestion de Projets et Suivi de
                                        Chantier</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="solution/suivientr">Suivi de Chantier Entrepreneur</a></li>
                                    </ul>
                                </li> -->
                                <li><a routerLink="solution/archi">Gestion de Projet Architecte</a></li>
                                <li><a routerLink="solution/suiviarch">Suivi de Chantier Architecte</a></li>
                                <li><a routerLink="#">Suivi de Chantier BTP</a></li>
                                <li><a routerLink="#">Suivi de Chantier Energie</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="service">Services</a>
                        </li>
                        <li><a routerLink="contact">Contacts</a>
                        </li>
                    </ul>
                    <div class="donate-btn-header">
                        <a class="dtbtn" href="#">Demande Cotation</a>
                    </div>
                    <div class="donate-btn-header">
                        <div class="row ml-30">
                            <div class="d-flex flex-column mr-10">
                                <span class="fi fi-ci "></span>
                                <span >CIV</span>
                            </div>
                            <div class="d-flex flex-column ml-15">
                                <span class="fi fi-cm"></span>
                                <span style="margin-left: -10px;">CAM</span>
                            </div>
                     
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Techno Main Menu Area -->
<!--==================================================-->
<!-- Techno Mobile Menu Area -->
<div class="mobile-menu-area d-sm-block d-md-block d-lg-none ">
    <div class="mobile-menu">
        <nav class="techno_menu">
            <ul class="nav_scroll">
                <li><a href="#home">Accueil</a>
                </li>
                <li><a href="#company.html">Société</a>
                    <ul class="sub-menu">
                        <li><a href="why-choose-us.html">Whay Choose Us</a></li>
                    </ul>
                </li>
                <li><a href="#service.html">Solutions IT</a>
                    <ul class="sub-menu">
                        <li><a href="service-1.html">Service One</a></li>
                        <li><a href="service-2.html">Service Two</a></li>
                        <li><a href="service-3.html">Service Three</a></li>
                        <li><a href="service-4.html">Service Four</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                </li>
                <li><a href="#solution.html">Services</a>
                    <ul class="sub-menu">
                        <li><a href="managed-service.html">Managed IT Service</a></li>
                        <li><a href="it-service.html">IT Service</a></li>
                        <li><a href="industries.html">Industries</a></li>
                        <li><a href="business-solution.html">Business Solution</a></li>
                        <li><a href="product-design.html">Product Design</a></li>
                        <li><a href="service-details.html">IT Service Details</a></li>
                    </ul>
                </li>

                <li><a href="#contact">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--==================================================-->
<!-- End Techno Main Menu Area -->
<!--==================================================-->