<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>GIMMOBIL</h2>
                    </div>
                    <div class="breatcome_content">
                        <h2 style="color: #fff;">Pour les Promoteurs Immobilers et <br> Professionnels de la Commercialisation Immobilière</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_area bg_color2 pt-10 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-50 mt-3">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>Solutions</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>PROMOTION <span>IMMOBILIERE</span></h1>
                    </div>
                    <div class="container mt-20 mb-20">
                        <a href="cotation.html" class="btn btn-primary mr-10">DEMO GRATUITE</a>
                        <a href="#" class="btn btn-info mr-10">ESSAI GRATUIT</a>
                        <a href="#" class="btn btn-success">DEMANDE COTATION</a>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-laptop-house"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Gestion des programmes immobiliers</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Gestion de biens et programmes immobiliers.
                            Précision de phases de construction.
                            Gestion de l’actabilité des lots et suivi.
                            Interfaçage avec votre site web pour la publication de biens.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-user-friends"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Démarche commerciale</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Suivi des prospections commerciales jusqu’à la signature par le client.
                            Gestion des documents de vente.
                            Optimisation des démarches commerciales.
                            Compte-rendu de visite en toute mobilité.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-file-invoice-dollar"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Client et Contrat</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Gestionnaire: Gestion de documents contractuels entre notaire et client.
                            <br>Client: accès à un espace personnel pour suivi d’avancement de
                            chantier de la construction à la livraison du bien.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-digging"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Gestion multi chantiers</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Planification des travaux sur plusieurs chantiers et suivi de l’avancée.
                            Gestion des demandes de matériels.
                            Gestion des commandes de marchandises.
                            Gestion des livraisons de matériaux.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-wallet"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Gestion des dépenses</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Gestion de dépenses  pour un bien, programme immobilier ou promotion immobilière.
                            Gestion de dépenses pour un chantier donné.
                            Appréciation du Ratio Dépenses vs Paiements clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Suivi ventes immobilières</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Suivi rigoureux des ventes immobilières
                            Analyse de l’activité à partir des tableaux de bords des réservations et ventes sur plusieurs programmes.
                            Analyse de la rentabilité des programmes immobiliers.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>