<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>CALYPSO</h2>
                    </div>
                    <div class="breatcome_content">
                        <h2 style="color: #fff;">Pour les MicroFinances et Institutions financières</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_area bg_color2 pt-40 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-50 mt-3">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>Solutions</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>GESTION DE<span> CREDIT</span></h1>
                    </div>
                    <div class="container mt-20 mb-20 ">
                        <a href="cotation.html" class="btn btn-primary mr-10">DEMO GRATUITE</a>
                        <a href="#" class="btn btn-info mr-10">ESSAI GRATUIT</a>
                        <a href="#" class="btn btn-success">DEMANDER UNE COTATION</a>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>A qui s’adresse la solution ? </h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Solution destinée aux établissements financiers, Institutions de microfinance,
                            collectivités locales, ONG, associations et Coopératives. Réponse adéquate à la
                            problématique de la gestion des fonds alloués à une IMF (ou toute autre organisation)
                            pour faire du crédit à une population cible particulière. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-hand-holding-dollar"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Simulation / Instruction Pret</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Saisie des informations identitaires client ou emprunteur + photo + signature.
                            <br>Client personne physique, personne morale, groupe informel (solidaire), association
                            Simulation du prêt, proposition et édition de l’échéancier
                            Transfert en prêt après accord client.
                            Anti-fraude (centralisation des risques)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-circle-dollar-to-slot"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Gestion echéancier Remboursement</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Détail complet des échéanciers sur la durée du prêt.
                            Consultation des échéanciers sur toute la durée du prêt.
                            Désynchronisation possible du capital, des intérêts, des commissions, des assurances
                            Gestion de calendrier de remboursements.
                            Saisie manuelle d’un échéancier avec échéances imposées</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-calculator"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Moteur de Calcul </h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Dégressif / linéaire / constant
                            Calcul des intérêts simples ou complexes
                            Déblocages de fonds multiples
                            Intérêts intercalaires (pré-comptés / post-comptés)
                            Limites d’engagements (prise en compte de la quotité cessible)
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-piggy-bank"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Gestion des Remboursements</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p> Interface dédiée aux agents de crédits
                            Règlement partiel autorisé (selon les paramètres)
                            Remboursement anticipé
                            Report d’échéance de remboursement.<br>
                            Consolidation et rééchelonnement des prêts.
                            Calcul de pénalités et indemnités.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_four pt-30 pl-4 pr-3 mb-4 pb-20">
                    <div class="service_style_four_icon pb-3">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="service_style_four_title pb-2">
                        <h4>Reportings et Statistiques</h4>
                    </div>
                    <div class="service_style_four_text">
                        <p>Disposer des données quantitatives et qualitatives réelles sur le déroulement au quotidien des portefeuilles crédits.
                            Centraliser les données et les traiter pour une aide à la prise de décision.
                            Restituer les états et statistiques en temps réel.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>